.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100ww;
    height: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
}

.Modal {
    position:relative;
    max-width: calc(100ww - 48px);
    max-height: calc(100wh - 24px);
}

.close {
    position: absolute;
    top:0;
    left: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}